<?xml version="1.0" encoding="utf-8"?>
<GeneralOptions xmlns="urn:schemas-nliteos-com:pn.v1">
	<LicenseKey>6lqCGWcQojxmO8qSGmy3n1fRgbnrySq2lh0f1AhI52Rx25vcAEbrPjxl5oBmCXJG</LicenseKey>
	<CustomScratch>false</CustomScratch>
	<UpdatesDir>F:\zzSysPrep\04NTLite_ppApp\x64\Updates</UpdatesDir>
	<CheckUpdate>false</CheckUpdate>
	<DisableDefender>false</DisableDefender>
	<DisableProtections>false</DisableProtections>
	<DisableSetupCompleteCleanup>false</DisableSetupCompleteCleanup>
	<DismSessionCount>20</DismSessionCount>
	<ForceDismExe>false</ForceDismExe>
	<ForceWimLib>false</ForceWimLib>
	<LoadLastSession>true</LoadLastSession>
	<LastUpdateCheck>0</LastUpdateCheck>
	<MaxDownloads>3</MaxDownloads>
	<MultiInstance>false</MultiInstance>
	<ShowExtraImageInfo>true</ShowExtraImageInfo>
	<ShowInfoBar>true</ShowInfoBar>
	<SkipAutoLang>false</SkipAutoLang>
	<SkipCancelledWarning>false</SkipCancelledWarning>
	<SkipDefenderPrompt>false</SkipDefenderPrompt>
	<SkipDirectWimWarning>false</SkipDirectWimWarning>
	<SkipDiskWipeWarn>false</SkipDiskWipeWarn>
	<SkipEsdWarning>true</SkipEsdWarning>
	<SkipExploreWarning>false</SkipExploreWarning>
	<SkipHiveLoadWarning>false</SkipHiveLoadWarning>
	<SkipHostRefreshContinueInfo>false</SkipHostRefreshContinueInfo>
	<SkipLiveWarning>false</SkipLiveWarning>
	<SkipStartWarning>true</SkipStartWarning>
	<SkipNewOsVerWarning>false</SkipNewOsVerWarning>
	<SkipNonStdWimInISO>true</SkipNonStdWimInISO>
	<SkipOnlineLoadWarning>false</SkipOnlineLoadWarning>
	<SkipProUpgrade>true</SkipProUpgrade>
	<SkipRemovalWarning>true</SkipRemovalWarning>
	<SkipSecureDomainJoinWarning>false</SkipSecureDomainJoinWarning>
	<SplitImageSize>4000</SplitImageSize>
	<SkipInstancePrompt>false</SkipInstancePrompt>
	<VerifyImageFiles>true</VerifyImageFiles>
	<VisualAccent>-1</VisualAccent>
	<VisualStyle>0</VisualStyle>
	<WimCompression>2</WimCompression>
	<ProxyMode>4</ProxyMode>
	<ProxyAddress></ProxyAddress>
	<ProxyUser></ProxyUser>
	<LockComponents></LockComponents>
	<RecentPaths>
		<AddInstaller></AddInstaller>
		<AddUpdate></AddUpdate>
		<AddRegistry></AddRegistry>
		<SaveISO></SaveISO>
		<AddImage>M:\zzzzLast20_Builder\00_Source\03Windows-NTLite</AddImage>
		<SaveImage></SaveImage>
		<ExportPreset>F:\zzSysPrep</ExportPreset>
		<ImportPreset>F:\zzSysPrep</ImportPreset>
		<AddDriver></AddDriver>
		<ExportDriver></ExportDriver>
		<ImportDriver></ImportDriver>
		<ExportHwlist></ExportHwlist>
		<ImportHwlist></ImportHwlist>
	</RecentPaths>
	<Images>
		<Image expanded="true">M:\zzzzLast20_Builder\00_Source\03Windows-NTLite\Sources\install.wim</Image>
		<Image expanded="true">M:\zzzzLast20_Builder\00_Source\03Windows-NTLite\Sources\boot.wim</Image>
	</Images>
</GeneralOptions>
